* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.firstSection {
  position: relative;
  margin: 0;
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  justify-content: right;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}

.firstSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/backgroundHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.flex {
  margin: 0 13%;
  padding: 10rem 0;
  max-width: 40rem;
  margin-top: 7%;
  text-align: center;
}

.text {
  color: black;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
}

.typewriter {
  color: #4e4d81;
  font-size: 1.5rem;
  z-index: 10;
  opacity: 0;
  
}

.description {
  opacity: 0;
}

.cv {
  padding: 1rem;
  border-radius: 10rem;
  background-color: #d0c67c;
  color: #f0f0f0;
  z-index: 10;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cv:hover {
  background-color: #f0f0f0;
  color: #d0c67c;
  transition: 0.5s ease;
}

