.links {
    margin-top: 10rem;
    z-index: 4;
    position: absolute;
    right: 1rem;

}

.try {
    display: flex;
    flex-direction: column;
    z-index: 4;
    background-color: transparent;
    position: absolute;
    right: -5rem;
    top: 6rem;
    color: black;

}

.try a{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    background-color: transparent;
    color: #f0f0f0;
} 