h2 {
  color: black;
}

.projectsSection {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerProject {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.infoProject {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
}

.arrow {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: hsla(0, 0%, 0%, 0.172);
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  font-size: 24px;
  transition: transform 0.2s, border-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.arrow:hover {
  transform: scale(1.1);
  background-color: hsla(0, 0%, 0%, 0.429);
}

.link {
  text-decoration: underline;
  color: inherit;
  transition: font-weight 0.3s, color 0.3s;
}

.link:hover {
  font-weight: bold;
  color: inherit;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projectDetails {
  margin-top: 1rem;
}

.tagsList {
  list-style: none;
  padding: 0;
}

.tagsList li {
  display: inline;
  margin-right: 0.5rem;
  background: #e0e0e0;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

.containerCanvas {
  flex: 1;
  height: 500px;
}
