button {
    position: absolute;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }


.bg{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #606887;
    z-index:3;
    right: 0;
    transform: rotate(-180deg);
}